/*---------------------- colors ----------------------*/
:root {
  --divider-color: lightsteelblue;
  --highlight-bg-color: lightcyan; 
  --highlight-color: rgb(0, 87, 87);
}

/*---------------------- main blocks ----------------------*/
body {
  overflow-y:scroll; /* always show vertical scroll */
  padding-top: 3.5rem; /* space reserved for fixed top menu */
  background: whitesmoke;
}

main {
  background: white;
}

footer {
  text-align: center; 
  background: white;
  border-top: 1px solid var(--divider-color);
}

.container {
  max-width: 890px; 
}

/*---------------------- elements ----------------------*/
h1, 
h2 {
  font-size: 1.2em;
}

a {
  color: black;
}
a:hover {
  color: black;
  background: var(--highlight-bg-color);
}
.nav-tabs button,
.nav-tabs button:hover,
.nav-tabs button:focus {
  color: black;
}

/*---------------------- menu styles ----------------------*/
.navbar a.navbar-brand,
.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus {
  margin-left: 12px;   
  color: var(--highlight-bg-color);
  background: inherit;
  outline: none;
}
/*.navbar a.navbar-brand:focus {
  border-bottom: 1px solid white;
} */ 
.navbar .nav-item a.active,
.navbar .nav-item a:hover,
.navbar .nav-item a:focus {
  background: inherit;
  border-bottom: 1px solid white;
  outline: none;
}
.navbar a.dropdown-item:hover,
.navbar a.dropdown-item:focus {
  color: var(--highlight-color);
  background: var(--highlight-bg-color);  
}

/*---------------------- my utilities ----------------------*/
.my-divider {
  border-top: 1px solid var(--divider-color);
}
.my-thick-divider {
  border-top: 2px solid var(--divider-color);
}

.my-reference {
  background: whitesmoke;
}
.my-reference:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .3);
  background: var(--highlight-bg-color);
}

/*---------------------- mobile menu styles ----------------------*/
@media (max-width:767px) {
  .navbar .nav-item a.nav-link {
    padding-left: 12px; 
  }
  .navbar .nav-item a.nav-link.active,
  .navbar .nav-item a.nav-link:hover {
    color: var(--highlight-color);
    background: var(--highlight-bg-color);
    border-style: none;
  }
  .navbar .nav-item a.nav-link:focus {
    border-style: none;
  }

}